.form_label {
  text-align: right;
}

.form_placeholder {
  font-size: 14px;
  font-style: italic;
}

.file_placeholder {
  font-size: 14px;
  font-style: italic;
  color: #6c757d;
}

.form_buttons_container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
